<div class="col-12 m-5">
  <h1>Student Details for Grade {{grade}}</h1>
  <table mat-table [dataSource]="tableData" class="mat-elevation-z8 w-100">
    <!-- <caption *ngIf="currentGradePassPercent"><em>Grade Pass Percentage: {{currentGradePassPercent}}</em></caption> -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> ID </th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let element"
        (keyup)="scoreChange(element.id, 'name', '', $event)">
        <input type="text" value="{{element.name}}" />
      </td>
    </ng-container>

    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef> Email </th>
      <td mat-cell *matCellDef="let element"
        (keyup)="scoreChange(element.id, 'email', '', $event)">
        <input type="email" value="{{element.email}}" pattern="{{emailValidatorPattern}}"/>
      </td>
    </ng-container>

    <ng-container matColumnDef="Maths">
      <th mat-header-cell *matHeaderCellDef> Maths </th>
      <td mat-cell *matCellDef="let element" contenteditable="true"
        (keyup)="scoreChange(element.id, 'subject', 'Maths', $event)">
          <input type="number" min="0" max="100" value={{element.Maths}} /> </td>
    </ng-container>
    <ng-container matColumnDef="English">
      <th mat-header-cell *matHeaderCellDef> English </th>
      <td mat-cell *matCellDef="let element" contenteditable="true"
        (keyup)="scoreChange(element.id, 'subject', 'English', $event)">
          <input type="number" min="0" max="100" value={{element.English}} /> </td>
    </ng-container>
    <ng-container matColumnDef="French">
      <th mat-header-cell *matHeaderCellDef> French </th>
      <td mat-cell *matCellDef="let element" contenteditable="true"
        (keyup)="scoreChange(element.id, 'subject', 'French', $event)">
          <input type="number" min="0" max="100" value={{element.French}} /> </td>
    </ng-container>
    <ng-container matColumnDef="Science">
      <th mat-header-cell *matHeaderCellDef> Science </th>
      <td mat-cell *matCellDef="let element" contenteditable="true"
        (keyup)="scoreChange(element.id, 'subject', 'Science', $event)">
          <input type="number" min="0" max="100" value={{element.Science}} /> </td>
    </ng-container>
    <ng-container matColumnDef="Social">
      <th mat-header-cell *matHeaderCellDef> Social </th>
      <td mat-cell *matCellDef="let element" contenteditable="true"
        (keyup)="scoreChange(element.id, 'subject', 'Social', $event)">
          <input type="number" min="0" max="100" value={{element.Social}} /> </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <div *ngIf="showActionButtons" class="m-2 float-end">
    <button type="button" class="btn btn-secondary" (click)="cancelSave()">Cancel</button>
    <button type="submit" class="btn btn-primary" (click)="saveChanges()">Save</button>
  </div>
</div>